@keyframes overLink {
  from {
    color: rgb(180, 180, 180);
  }

  to {
    color: black;
  }
}

@keyframes offLink {
  from {
    color: black;
  }

  to {
    color: rgb(180, 180, 180);
  }
}

.page {
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  padding-right: 15%;
  padding-left: 15%;
}

.img {
  max-width: calc(100% - 40px);
  max-height: 80vh;
  margin-left: 20px;
  margin-right: 20px;
}

.img:hover {
  cursor: pointer;
}

.gallery {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-info {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Avenir-Book';
  line-height: 15px;
  font-size: 12px;
  width: 100%;
}

.img-title {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Avenir-Black';
  font-size: 20px;
  margin-top: 20px;
  width: 100%;
}

.img-div {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.credit {
  font-family: 'Avenir-Book';
  color: rgb(180, 180, 180);
  animation-name: offLink;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.credit:hover {
  animation-name: overLink;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@media (max-width: 500px) {
  .page {
    padding-right: 0;
    padding-left: 0;
  }

  .img {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10%;
    margin-right: 10%;
  }

  .img-title {
    font-family: 'Avenir-Book';
  }
}

/* all of these are in use to modify lightbox library */

.ril__caption,
.ril__toolbar {
  background-color: rgb(0, 0, 0, 0) !important;
}

.ril__zoomInButton {
  display: none;
}

.ril__zoomOutButton {
  display: none;
}

.ril__outer {
  background-color: white !important;
}

.ril__closeButton {
  background-color: rgba(0, 0, 0, 0.2);
}

/* override lazyload animation to be longer */
.lazy-load-image-background.opacity.lazy-load-image-loaded {
  transition: opacity 1s !important;
}