$link-color: rgb(180, 180, 180);

@keyframes overLink {
  from {
    color: $link-color;
  }
  to {
    color: black;
  }
}

@keyframes offLink {
  from {
    color: black;
  }
  to {
    color: $link-color;
  }
}

.page{
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  padding-right: 15%;
  padding-left: 15%;
}

.img{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.img:hover{
  cursor: pointer;
}

.gallery{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-info{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Avenir-Book';
  line-height: 15px;
  font-size: 12px;
}

.img-title{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Avenir-Black';
  font-size: 20px;
  margin-top: 20px;
}

.img-div{
  margin-bottom: 30px;
}

.credit {
  font-family: 'Avenir-Book';
  color: $link-color;
  animation-name: offLink;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.credit:hover{
  animation-name: overLink;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@media (max-width: 500px) {
  .page{
    padding-right: 0;
    padding-left: 0;
  }
}

/* all of these are in use to modify lightbox library */

.ril__caption, .ril__toolbar {
  background-color: rgb(0, 0, 0, 0) !important;
}

.ril__zoomInButton {
  background: none !important;
}

.ril__zoomOutButton {
  background: none !important;
}