$link-color: rgb(180, 180, 180);
$nav-color: rgb(228, 110, 0);
$darker-nav-link: rgb(255, 17, 0);

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overLink {
  from {
    color: $link-color;
  }
  to {
    color: black;
  }
}

@keyframes offLink {
  from {
    color: black;
  }
  to {
    color: $link-color;
  }
}

.page{
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  padding-right: 15%;
  padding-left: 15%;
}

.header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.title-div {
  text-align: left;
  margin-left: 3%;
}

.title {
  font-size: 40px;
  width: 300px;
  font-family: cursive;
}

.description{
  font-size: 20px;
  font-family: 'Avenir-Roman';
}

@keyframes overNavLink {
  from {
    color: $nav-color;
  }
  to {
    color: $darker-nav-link;
  }
}

@keyframes offNavLink {
  from {
    color: $darker-nav-link;
  }
  to {
    color: $nav-color;
  }
}

.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Avenir-Roman';
  a {
    color: $nav-color;
  }
}

.link {
  margin: 5px;
  margin-bottom: 0px;
  color: $nav-color;

  animation-name: offNavLink;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.link:hover{
  animation-name: overNavLink;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.img{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.img:hover{
  cursor: pointer;
}

.gallery{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-info{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Avenir-Book';
  line-height: 15px;
  font-size: 12px;
}

.img-title{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Avenir-Black';
  font-size: 20px;
  margin-top: 20px;
}

.img-div{
  margin-bottom: 30px;
}

.links {
  // position: fixed;
  // z-index: 1;
  font-family: 'Avenir-Book';
  color: $link-color;
  animation-name: offLink;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.links:hover{
  animation-name: overLink;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.email {
  // color:  yellow;
  // @extend .links;
  // bottom: 40px;
  // right: 20px;
}

.credit {
  @extend .links;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .page{
    padding-right: 0;
    padding-left: 0;
  }
  .title {
    font-size: 40px;
    margin-top: 40px;
  }
  
  .description{
    margin-top: 30px;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* all of these are in use to modify lightbox library */

.ril__caption, .ril__toolbar {
  background-color: rgb(0, 0, 0, 0) !important;
}

.ril__zoomInButton {
  background: none !important;
}

.ril__zoomOutButton {
  background: none !important;
}

